<div class="row ml-3 ml-lg-5 align-items-center pt-4 pb-2 mx-2 ">
    <div class="courseSectorFont ml-3">
        <span>Course Details</span>
    </div>
    <div class="col-md-12">
        <div class="titleLine"></div>
    </div>
    <div class="col-md-12">
        <form>
            <div class="form-row">
                <div class="col-lg-2 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Code">Course Code</label>
                    <input type="text" class="form-control custom-input" id="Course_Code" required>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Name">Course Name</label>
                    <input type="text" class="form-control custom-input" id="Course_Name" required>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Date">Course Date</label>
                    <input type="text" class="form-control custom-input" id="Course_Date" required>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Language">Course Language</label>
                    <input type="text" class="form-control custom-input" id="Course_Language" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Type">Course Type</label>
                    <div class="custom-select-container">
                        <select>
                            <option value="" disabled selected></option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Name">Course Location</label>
                    <input type="text" class="form-control custom-input" id="Course_Name" required>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
                    <label for="Course_Date">Course Fees</label>
                    <input type="text" class="form-control custom-input" id="Course_Date" required>
                </div>
            </div>
        </form>
    </div>
</div>