<div class="row ml-3 ml-lg-5 align-items-center pt-4 pb-2 mx-2 ">
    <div class="courseSectorFont ml-3">
        <span>Payment Details</span>
    </div>
    <div class="col-md-12">
        <div class="titleLine"></div>
    </div>
    <div class="col-md-12">

        <div class="form-row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <label for="Payment_Method">Payment Method</label>
                        <div class="custom-select-container mb-4 w-75">
                            <select>
                                <option value="" disabled selected></option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <span class="FeesDetailsFont">Per Participent Fees Details</span>
                        <div class="paymentNumber p-3 mt-1">
                            <h6>{{courseFees}} Dollars</h6>
                            <p>Fees + VAT as applicable</p>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="smileImage d-flex align-items-center justify-content-center mb-2 mt-lg-0 mt-2">
                            <img alt="" src="/assets/smile.png" width="100">
                        </div>
                        <div class="d-flex justify-content-center">
                            <img alt="" src="/assets/thankYou.png" width="70%" class="img-fluid mt-1">
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>