<nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <div class="container-fluid ml-5">
        <div class="navbar-brand">
            <img alt="BoostLogo" src="/assets/logo.png" width="135">
        </div>
        <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-5 mt-3">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span
                            class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLinkActive="active" routerLink="/about-Us" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        About Us
                        <i class="fas fa-caret-down ml-1"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="">Action</a>
                        <a class="dropdown-item" routerLink="">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/training-Course">Training Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/certificates">Certificates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/sectors">Sectors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/in-House-Training">In House Training</a>
                </li>
            </ul>
            <div class="mb-3 mx-5 d-flex flex-nowrap mt-3" style="cursor: pointer;">
                <img alt="facebook" src="/assets/facebook.png" width="14">
                <img alt="twitter" src="/assets/twitter.png" width="14" class="ml-2">
                <img alt="instegram" src="/assets/instegram.png" width="14" class="ml-2">
                <img alt="linkedin" src="/assets/linkedin.png" width="14" class="ml-2">
                <img alt="youtube" src="/assets/youtube.png" width="14" class="ml-2">
            </div>
            <div class="mb-3 mr-4 d-flex align-items-center mt-3">
                <img alt="sparkes" src="/assets/sparkes.png" width="80" height="32" class="ml-1">
                <img alt="baderOnline" src="/assets/baderOnline.png" width="110" height="80" class="ml-1">
            </div>
        </div>
    </div>
</nav>