<div class="row ml-3 ml-lg-5 align-items-center pt-4  mx-2 ">
    <div class="courseSectorFont ml-3">
        <span>Personal Details</span>
    </div>
    <div class="col-md-12">
        <div class="titleLine"></div>
    </div>
    <div class="col-md-12 ">
        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-lg-7 col-md-12 col-sm-12 mb-3">
                    <label for="Full_Name">Full Name</label>
                    <input type="text" class="form-control custom-input" name="Full_Name" id="Full_Name"
                        [(ngModel)]="fullName" required>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control custom-input" name="email" id="email" [(ngModel)]="email"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7 col-md-12 col-sm-12 mb-3">
                    <label for="Mobile_number">Mobile number</label>
                    <input type="text" class="form-control custom-input" name="Mobile_number" id="Mobile_number" min="0"
                        [(ngModel)]="mobileNumber" required>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="country">Country</label>
                    <div class="custom-select-container">
                        <select [(ngModel)]="country" name="country" required>
                            <option value="" disabled selected></option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                    <label for="Company_Name">Company Name</label>
                    <input type="text" class="form-control custom-input" name="Company_Name" id="Company_Name"
                        [(ngModel)]="companyName" required>
                </div>

                <div class="col-lg-7 col-md-12 col-sm-12 mb-3">
                    <label for="Comments">Comments</label>
                    <div class="custom-textarea">
                        <textarea [(ngModel)]="comments" name="Comments" required></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>