<section>

    <div class="row mb-5">

        <!-- left side -->
        <div class="col-md-8 mb-5">

            <!-- row 1 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row ml-3 ml-lg-5">
                        <div class="col-lg col-md col-sm firstButtons borderRaduis mr-3">
                            <a class="btn py-3 px-5 firstButtonsFont firstButtonsColor">About the course</a>
                        </div>
                        <div class="col-lg col-md col-sm firstButtons borderRaduis mr-3">
                            <a class="btn py-3 firstButtonsFont firstButtonsColor">Brochure</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md col-sm mr-1 courseVisitor my-4">
                    <span class="float-right"> 223 Course Visitor </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 courseVisitor ml-3  ml-lg-5 ">
                    <span> Course Code: G-CA001 </span>
                    <h3 class="courseTitle">Contract Management Principles and Practices</h3>
                </div>
            </div>

            <!-- row 2 -->
            <div class="row ml-3 ml-lg-5 align-items-center pt-5">
                <span class="col-lg-5 col-md-12">
                    <div class="row align-items-center flex-nowrap">
                        <img alt="course_sector" src="/assets/course_sector.png" width="60" class="img-fluid">
                        <span class="courseSectorFont">
                            <span>Course Sector:</span>
                            <p class="">Interpersonal Skills and Self Development</p>
                        </span>
                    </div>
                </span>

                <div class="col-lg-7 col-md-12">
                    <div class="row align-items-center justify-content-end mt-2 mr-1">
                        <button class="btn py-2 px-4 secondButtons1 secondButtonsFont mr-1 mt-lg-2 borderRaduis">Request
                            in
                            house training</button>
                        <button class="btn py-2 px-5 secondButtons2 secondButtonsFont mt-0 mt-lg-2 borderRaduis">Call me
                            Back</button>
                    </div>
                </div>
            </div>

            <!-- row 3 -->
            <div class="ml-3 ml-lg-5">
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="courseBookingLabel">
                            <p>Course Booking</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- form 1 course-details-form -->
            <app-course-details-form></app-course-details-form>

            <!-- form 2  personal-details-form-->
            <app-personal-details-form></app-personal-details-form>

            <!-- Payment Details -->
            <app-payment-details></app-payment-details>
            
        </div>

        <!-- vertical line -->
        <div class="line d-md-block d-none"></div>

        <!-- right side -->
        <div class="col-md ml-2 mt-2">
            <div class="row">
                <div class="col-md-11 mb-2 d-flex  align-items-center">
                    <img alt="" src="/assets/arrowBack.png" width="17" class="img-fluid mr-2">
                    <span class="firstButtonsFont backButton font-weight-bolder"> Back to course table</span>
                </div>
                <div class="col-md-11">
                    <img alt="side" src="/assets/side.jpg" class="img-fluid borderRaduis">
                </div>
                <div class="col-md-10 mb-5 ml-3 firstButtons borderRaduis">
                    <a class="btn py-3 firstButtonsFont">ay7haga</a>
                </div>
                <div class="col-md-12"></div>
            </div>
        </div>

    </div>

</section>